@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

.dataTables_wrapper .rdt_TableHeadRow {
  font-family: Prompt, sans-serif !important;
}

.dSYVyP {
  font-size: 16px !important;
}

.dataTables_wrapper .rdt_TableRow {
  font-size: 16px !important;
}

.kPXkKA {
  font-size: 14px !important;
}

.dataTables_wrapper .rdt_TableBody {
  font-family: Prompt, sans-serif !important;
}
